<!DOCTYPE html>
<html>
<head>
    {% if page.title %}
    <title>Baka MPlayer | {{ page.title }}</title>
    {% else %}
    <title>Baka MPlayer</title>
    {% endif %}
    <meta name="description" content="The mpv based media player">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/global.css' | relative_url }}" media="all">
    {% if page.style %}
    <link rel='stylesheet' href="{{ '/css/'|append:page.style | relative_url }}" media="all">
    {% endif %}

</head>

<body>
    <nav>
        <div class="container">
            <ul>
                <li>
                    <a
                        href="{{ '/' | relative_url }}"
                        {% if page.permalink == '/' %}class="active"{% endif %}
                    >Home</a>
                </li>
                <li>
                    <a
                        href="{{ '/installation/' | relative_url }}"
                        {% if page.permalink == '/installation/' %}class="active"{% endif %}
                    >Installation</a>
                </li>
                <li>
                    <a
                        href="{{ '/help/' | relative_url }}"
                        {% if page.permalink == '/help/' %}class="active"{% endif %}
                    >Help</a>
                </li>
            </ul>
        </div>
    </nav>
    {{ content }}
    <footer>
        <div class="container">
            <p>Copyright © 2021 - <a href="{{ '/about/' | relative_url }}">About Us</a> / <a href="{{ '/history/' | relative_url }}">History</a></p>
        </div>
    </footer>
</body>
</html>